/*

-------------------------------------------------------------

FOOTER

*/

footer {
  padding: 5rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    width: 4rem;
    height: 4rem;
  }
}
