/*

-------------------------------------------------------------

CAROUSEL

*/


.carousel {
  // height: 500px;
  margin-top: 6rem;

  .carousel-cell {
    width: 90%;
    max-width: 648px;
    padding: 0 4rem;
    opacity: 0.25;
    transition: opacity 0.4s $easeOutQuint;

    @include breakpoint(small) { padding: 1rem; }

    &.is-selected { opacity: 1; }
  }

}
