/*

-------------------------------------------------------------

GLOBAL

*/

* { box-sizing: border-box;
}
body {
	padding:0px;
	margin:0px;
}

body.body-modal-open,
body.nav-open { overflow:hidden; }

.container {
	margin:auto;
	// width: 90%;
	position:relative;
	//
	// @include breakpoint(large) {
	// 	width:$container-large;
	// }
	// @include breakpoint(medium) {
	// 	width:$container-medium;
	// }
	// @include breakpoint(small) {
	// 	width:$container-small;
	// }
}

img { max-width:100%; }

svg { display: block; }

[aria-hidden="true"] { visibility: hidden; }

section {
	padding: 8rem 0;

	@include breakpoint(medium) { padding: 6rem 0;}
}

.list-unstyled {
	padding: 0;

	> li { list-style-type: none; }
}



// % for @extends
%hide-ipad {
	@include breakpoint(medium) { display:none; }
}

%hide-mobile {
	@include breakpoint(small) { display:none; }
}
