/*

-------------------------------------------------------------

TYPOGRAPHY

*/

body {
	font-family:$primary-font-family;
	font-weight:$primary-font-weight;
	font-size:$primary-font-size;
	color:$primary-font-color;
	line-height:$primary-line-height;
}

h1, h2, h3, h4 {
	margin: 0;
	line-height: 1;
	color: $black;

	// @include breakpoint(small) { line-height: 2rem; }
}

h1 {
	font-size: 4.5rem;
	font-weight: 100;
	color: $white;

	@include breakpoint(medium) { font-size: 4rem; }
	@include breakpoint(small) { font-size: 3.5rem;}

}

h2,
h3 {
	text-transform: uppercase;
	letter-spacing: 0.1em;

}

h2 {
	font-size: 2rem;
	font-weight: 300;
	position: relative;
	padding-bottom: 1rem;
	margin-bottom: 1.5rem;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 4rem;
		background-color: $red;
		margin: auto;
	}

	&.heading-left::after { right: auto; margin: initial;}
}

h3 {
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 0;
}
//
// h4 {
//
// }
//
a {
	color: inherit;
	text-decoration: none;
	transition: all 0.4s $easeOutQuint;
}

blockquote {
	margin: 0;
	font-style: italic;
}

.text-center { text-align: center; }

.caps {
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-weight: 500;
	font-size: 0.75em;
}
