/*

-------------------------------------------------------------

TYPOGRAPHY

*/

body {
	font-family:$primary-font-family;
	font-weight:$primary-font-weight;
	font-size:$primary-font-size;
	color:$primary-font-color;
	line-height:$primary-line-height;
}

h1, h2, h3, h4 {
	margin: 0;
	line-height: 1;
	color: $white;

	@include breakpoint(small) { line-height: 2rem; }
}

h1 {
	font-size: 4.5rem;
	font-weight: 100;
	color: $white;

	@include breakpoint(medium) { font-size: 4rem; }
	@include breakpoint(small) { font-size: 3.5rem;}

}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
	color: $white;

	@include breakpoint(small) { font-size: 1rem; }
}

// h3 {
//
// }
//
// h4 {
//
// }
//
a {
	color: inherit;
	text-decoration: none;
	transition: all 0.4s $easeOutQuint;
}

.text-center { text-align: center; }

.caps {
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-weight: 500;
	font-size: 0.75rem;
}
