/*

-------------------------------------------------------------

TYPOGRAPHY

*/

body {
	font-family:$primary-font-family;
	font-weight:$primary-font-weight;
	font-size:$primary-font-size;
	color:$primary-font-color;
	line-height:$primary-line-height;
}

h1, h2, h3, h4 {
	margin: 0;
	line-height: 1;
	color: $white;

	@include breakpoint(small) { line-height: 2rem; }
}

h1 {
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: 0.08em;
	color: $white;
	text-transform: uppercase;

	@include breakpoint(medium) { font-size: 2rem; }
	@include breakpoint(small) { font-size: 1.5rem;}

}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
	color: $white;

	@include breakpoint(small) { font-size: 1rem; }
}

// h3 {
//
// }
//
// h4 {
//
// }
//
// a {
//
// }

.text-center { text-align: center; }
